/* Configurações gerais */
body {
  margin: 0;
  padding: 0;
  background-image: url('/codigo/assets/images/Bolasombra.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  /*
  background-image: url('Imagens/GOAT.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  */
}
/* Navbar */
.container-fluid
{
  width: 100%;
}
.container .navbar-brand > img{
  width: 57px;
}
.navbar{
  background-color: #14805E;
}
.profile{
  color: #fff;
  text-decoration: none;
  align-items: end;
}
.collapse #profile-icone{
  align-items: flex-end;
  margin-left: 50%;
}
.text-center p
{
  color: white;
}

@media only screen and (min-width: 992px) {
   .profile{
      margin-left: 80%;
  }
}

/* Conteúdo */
#linha-cards{
  margin: 2% 1% 2% 1%;   
  padding-left: 12%;
  padding-right: 12%;
 
}
.card{
  margin: 0 5% 6% 5%;   
  
}
.card-body .botao-mais
{
  margin: 0 auto 2px auto;
}

/* Spinner */
.carregamento {
  position: fixed;
  backdrop-filter: blur(3px);
  background-color: #0000009d;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}
/* Footer */
footer {
  background-color: #022f21;
  bottom: 0;
  width: 100%;
  padding-top: 1%;
}
.text-center a {
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
  color: #fff;
}
.text-center p {
  font-family: Arial, Helvetica, sans-serif,bold;
  margin-top:10px;
}
.bloco-faq{
  max-width: 50%;
  margin: 5px auto 5px auto;
  
}
.accordion-item .accordion-button,.accordion-body{
  color: #fff;
  background-color: #022f21;
}

